{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-proposal-throw-expressions",
		"@babel/plugin-transform-runtime",
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					/* "@sections": "./src/sections",
					"@elements": "./src/elements",
					"@components": "./src/components", */
					"@api": "./src/api"
				}
			}
		]
	]
}
